@model AggregatedDataViewModel
@{
    Layout = "_DashboardLayout";
}

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Total Candidates</h5>
        <p class="card-text">@Model.AggregatedData.TotalCandidates</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
    
      <div class="card-body">
        <h5 class="card-title">Total Voters</h5>
        <p class="card-text">@Model.AggregatedData.TotalVoters</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">

      <div class="card-body">
        <h5 class="card-title">Total Votes</h5>
        <p class="card-text">@Model.AggregatedData.TotalVotes</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"></small>
      </div>
    </div>
  </div>
</div>
<br>
<div class="text-center">
    <a  style="color: white;" class="btn btn-primary" asp-controller="DashBoard" asp-action="Results">Results</a>
</div>
