@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Cbu Voting System</h1>
    <div class="container">
        <a class="btn" asp-controller="Vote" asp-action="Verification">Vote</a>
        <br>
        <a class="btn" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
    
    
</div>
